<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
   <div id="app">
     <p>{{ message }}</p>
     <button v-on:click="dailyMessage">Reverse Message</button>
  </div>
  

<script>
 

var app = new Vue({
  el: '#app',
  data: {
    message: '#100DaysOfCode Day '
  },
  methods: {
    dailyMessage: function () {
      const initialDate = new Date(2018,0,13);
      var today = new Date();
      var oneDay = 24*60*60*1000;
      this.message += Math.round(Math.abs((initialDate.getTime() - today.getTime())/(oneDay)));
    }
  }
})
 
  
</script>
</body>
</html>